.center{
   position: center;
   display: flex;
   text-align: center;
}

.center2{
    text-align: center;
}

#menu li{
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

#menu li a:hover{
    font-size: 50px;
    color: black;
}

.p-50{
    padding: 30px;
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.p-40{
    padding: 10px;
    color:black;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
}

.br-50 {
    border-radius: 150%;

}

.wh-600 {
    width: 350px;
    height: 500px;
}

.mb-50 { 
    margin-bottom: 10px;
}

.justify{
    text-align: justify;
}

.video{
    position:absolute;
    left: 300px;

}

.titulo{
    position: absolute;
    left: 50px;
    text-align: left;
}
.justify{
    text-align: justify;
}
.por{
    text-align: center;
    left: 300px;
}

.tm-social{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
